[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
freeholdforecast = {editable = true, extras = ["dev"], path = "."}

[scripts]
notebook = "jupyter notebook --allow-root"
deploy = "dbx deploy freeholdforecast-etl-ml"
launch = "dbx launch freeholdforecast-etl-ml"
deploy-assets = "dbx deploy freeholdforecast-etl-ml --assets-only"
launch-assets = "dbx launch freeholdforecast-etl-ml --from-assets"
